/* slick-arrows.css */
.custom-slick-arrow::before {
  content: ''; /* Adjust as needed for your design */
  font-size: 30px;
  /* Other styles for the pseudo-element */
}

.slick-prev, .slick-next {
  background: transparent;
  color: red
}